<ion-header>
  <ion-toolbar>
    <ion-title>{{ gamer }}</ion-title>
    <ion-buttons [slot]="'end'">
      <ion-button (click)="onCancel()" *ngIf="isStarting">
        <ion-icon name="close"></ion-icon>
      </ion-button>
      <ion-button (click)="onStartNewGame()" fill="clear" *ngIf="!isStarting">
        <ion-icon slot="start" name="add"></ion-icon>
        Start...
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ap">
    <ion-grid fixed>
      <ion-row class="ion-align-items-end">
        <ion-col size="3">
          <!-- <ion-button (click)="onStartNewGame()" fill="clear" *ngIf="!isStarting">
            <ion-icon slot="icon-only" name="add"></ion-icon>
          </ion-button> -->
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let h of newGame?.hits; index as i" color="success">
        <ion-col size="1" offset="1">
          <ion-chip color="primary">
            <ion-label color="primary">{{ i + 1 }}.</ion-label>
          </ion-chip>
        </ion-col>
        <ion-col size="1">
        </ion-col>
        <ion-col size="1" *ngFor="let n of h.aaaa">
          <ion-chip color="primary">
            <ion-label color="primary"><strong>{{n.a}}</strong></ion-label>
          </ion-chip>
        </ion-col>
        <ion-col size="1"> </ion-col>
        <ion-col size="1" offset="1">
          <ion-chip color="primary">
            <ion-label color="primary"><strong>{{ h.total }}</strong></ion-label>
          </ion-chip>
        </ion-col>
        <ion-col size="1">
          <ion-chip color="primary">
            <ion-label color="primary">{{ h.place }}</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2" offset="1"> </ion-col>
        <ion-col size="1" *ngFor="let n of currentEnterNums">
          <ion-chip>
            <ion-label color="primary">{{n}}</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="newGame?.isBingo">
        <ion-col size="12">
          <ion-title>Bingo</ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer>
  <app-keyboard
    *ngIf="isStarting && isKeyboard"
    [xxxx]="xxxx"
    (newEnterNumber)="onNewNumbers($event)"
    (finishEnterNumber)="onFinishEnterNumbers()"
  ></app-keyboard>
</ion-footer>
