<ion-header>
  <ion-toolbar>
    <ion-title>Options</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="hits"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid fixed>
  <ion-row>
    <ion-col size="6">
      <ion-item>
        <ion-label>{{ currentGamer$ | async }}</ion-label>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-button (click)="onChangeCurrentGamer()" expand="block" fill="clear" shape="round">
        Change name...
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-item>
    <ion-label>{{ !toogleCheck ? 'UPALI' : 'UGASI' }}</ion-label>
    <ion-toggle [(ngModel)]="toogleCheck"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>Delete top ten games {{ isDelete }}</ion-label>
    <ion-button (click)="onClearTopTenGames()" fill="clear" [disabled]="!isDelete">
      <ion-icon slot="icon-only" color="danger" name="trash"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-label>Load new top ten games</ion-label>
    <ion-button (click)="onLoadTopTenGames()" fill="clear" [disabled]="!isLoad">
      <ion-icon slot="icon-only" name="download-outline"></ion-icon>
    </ion-button>
  </ion-item>
</ion-grid>
</ion-content>
